@{
    ViewData["Title"] = "Nová žádost";
}

@model NewCheckupModel

<style>
    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
    * html .ui-autocomplete {
        height: 100px;
    }
</style>

<script src="~/lib/extern/jquery.js"></script>
<script src="~/lib/extern/jquery-ui.js"></script>   

<form method="post" asp-action="CreateNewCheckup" onsubmit="return TicketValidation()">
    <div>
        Pacient: <b>@Model.FullName.getFullName() (@Model.SocialSecurityNum)</b>
        <input hidden name="patientNum" value="@Model.SocialSecurityNum" />
    </div>
    <div>
        <label>Lékař:</label>
        <input type="text" id="doctorName" name="doctorName" placeholder="Vyberte lékaře" />
        <input hidden id="doctorICZ" name="doctorICZ" value="" />
    </div>

    <div>
        <label>Diagnózy:</label>
    </div>
    <div class="row">
        <input type="text" id="Diagnosis1" name="Diagnosis1" placeholder="Halvní diagnoza" autocomplete="off">
        <input type="text" id="Diagnosis2" name="Diagnosis2" placeholder="Diagnoza 2" autocomplete="off">
        <input type="text" id="Diagnosis3" name="Diagnosis3" placeholder="Diagnoza 3" autocomplete="off">
        <input type="text" id="Diagnosis4" name="Diagnosis4" placeholder="Diagnoza 4" autocomplete="off">
    </div>

    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#CopyReportModal">Přiložit zprávu</button>
    <div class="modal fade" id="CopyReportModal" tabindex="-1" role="dialog" aria-labelledby="CopyReportModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="CopyReportModalLabel">Přiložit zprávu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table-responsive-md">
                        @foreach (var item in Model.Reports)
                        {
                            <tr>
                                <td data-dismiss="modal" onclick="selectedReport('@item', '@Model.SocialSecurityNum')">
                                    @item
                                </td>
                            </tr>
                        }
                    </table>

                </div>
            </div>
        </div>
    </div>

    <div>
        <label>Text:</label>
    </div>
    <div>
        <textarea cols="100" rows="10" id="checkupText" name="checkupText"></textarea>
    </div>

    <div>
        <!-- Uložit -->
        <input class="btn btn-primary" type="submit" value="Uložit">
    </div>
</form>

<script src="~/js/NewTicket.js"></script>
<script>
    function selectedReport(report, patNum) {
        result = $.ajax({
            url: '/Doctor/GetReport',
            dataType: "json",
            data: {
                patientNum: patNum,
                date: report,
            },
            success: function (data) {
                var text = document.getElementById('checkupText').value;
                document.getElementById('checkupText').value = text.concat(data);
            },
            error: function () {
                alert("Nepodařilo se zkoírovat zprávu.");
            }
        }).responseJSON;
    }
</script>