
@{
    ViewData["Title"] = "Request";
}

<h1>Žádosti o vyšetření</h1>

<p>
    <a asp-action="InRequest">Příchozí žádosti</a> | 
    <a asp-action="OutRequest">Moje žádosti</a>
</p>
<p>
    <a asp-action="InFinishRequest">Příchozí vyřízemé řádosti</a>
</p>


