@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>Osobní údaje</h4>

<div class="row">
    <div class="col-md-6">
        <p>Tato stránka vlastní Vaše osobní údaje, které jste nám poskytli. Pokud chcete, můžete si je stáhnout, nebo odstranit.</p>
        <p>
            <strong>Účet není obnovitelný. Medicínská data se uchovávají nezávisle na Vašem rozhodnutí.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Stáhnout</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Smazat</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}