.column {
    float: left;
    width: 30%;
    padding-left: 15px;
    font-weight: bold;
    }

.center{
      margin: auto;
  width: 60%;
  padding: 10px;
}
.row {
    margin: 5px;
}
.inner-column{
    float: left;
    width: 20%;
    padding-left: 25px;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }

    .p {
    }
