@{
    ViewData["Title"] = "Titulní stránka";
}

<div class="text-jdidoprdele">
    <h1 class="jsemkokot">ADSASDASD</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
