@{
    ViewData["Title"] = "Titulní stránka";
}
<link rel="stylesheet" href="~/css/MainPage.css" />

<style>
    img:hover {
        -ms-transform: scale(1.04); /* IE 9 */
        -webkit-transform: scale(1.04); /* Safari 3-8 */
        transform: scale(1.04);
        filter: grayscale(40%);
    }

    a.test {
        background-image: url("Img/Shared/corona.jpg");
        display: inline-block;
        height: 200px !important;
        width: 250px;
    }
    body {
        background-image: url("../Img/Shared/DoctorHands.jpg") !important;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100vh;
    }
    main {
        background-color: #e6f7ff;
        min-height: 100vh;
    }

    .test-text {
        position: absolute;
        text-align: left;
        opacity: 1;
        margin-top: -2.4em;
        margin-left: 30px;
        width: 100%;
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        font-size: 28px;
        color: #333333;
    }
    .mouseover {
        position: relative;

        height: 100%;
        width: 100%;
        background-image: url("Img/Shared/btn-image-active.png");
    }
</style>




<div style="padding-bottom: 100px;">
    <div class="first_row">
        <div class="first_row_first_item">
            <h1 class="nadpis_padding">
                Zdravotní informace<br />
                <strong>na jednom místě</strong>
            </h1>
            <p class="card-subtitle">
                Mějte své lékařské zprávy neustále pod dohledem.<br />
                Ať už z role lékaře, nebo pacienta.
            </p>
        </div>
        <div class="first_row_second_item">
            <div class="row">

                <img class="Doctor" alt="Corona" height="220" width="300" src="~/Img/Shared/corona.jpg" onclick="ImgClicked1()" />
            </div>
        </div>
    </div>

    <div class="second_row">
        <div class="second_row_first_item">
            <div class="first_second">


                <img class="Doctor" alt="Doctor" height="220" width="300" src="~/Img/Shared/doctors.jpg" onclick="DoctorClicked()" />
                <div class="test-text"><a class="test-text" href="Home/Privacy">DOKTOŘI</a></div>


            </div>
            <div class="second_second">
                <h2 style="padding-bottom: 20px">O elektronické knížce</h2>
                <a>Naše aplikace přináší služby vyvinuté na míru českým lékařům, nemocnicím a všem odborníkům, včetně firem a veřejné správy. Přináší komplexní pohled na pacienta, bezpečné sdílení informací mezi lékaři.</a>
            </div>
        </div>
        <div class="second_row_second_item">
            <h2><strong>Aktuality</strong></h2>
            <h5>Oznámení</h5>
            <a href="https://data.brno.cz/covid-19/">Statistiky COVID-19 Brno</a></br>
            <a href="http://www.promareha.cz/vyrobky/">Nové zdravotnické vybavení</a></br>
            <a href="https://www.krematorium.cz/?gclid=CjwKCAiA2O39BRBjEiwApB2IkhmPmRS8TNptZKLt_xwD3B7j58nt-Zw9woJ5l0rUhqk6o6DTnL1JwBoCrX8QAvD_BwE">Když už nejde pomoci</a>
            <h5 style="padding-top:20px">Upozornění</h5>
            <a style="color:red" href="https://koronavirus.mzcr.cz/">COVID-19 Opatření</a></br>
            <a style="color:red" href="https://www.albert.cz/nase-prodejny/mapa-prodejen">Změna ordinační doby</a></br>
            <a style="color:red" href="https://www.prace.cz/">Hledáme kolegy</a>
            <h5 style="padding-top:20px; padding-bottom:20px">Důlěžitá COVID opatření</h5>
            <a style="color:red"><strong>-Myjte si ruce</strong></a></br>
            <a style="color:red"><strong>-Dodržujte rozestupy</strong></a></br>
            <a style="color:red"><strong>-Zůstaňte doma</strong></a></br>
            <a style="color:red"><strong>-Noste roušky</strong></a></br>
            <a style="color:red"><strong>-Při příznacích zůstaňtě doma</strong></a></br>
            <h5 style="padding-top:20px; padding-bottom:10px">Příznaky</h5>
            <a><strong>Zvýšená teplota</strong></a></br>
            <a><strong>Kašel</strong><a></br>
            <a><strong>Ztráta chuti a čichu</strong><a></br>
        </div>
    </div>
</div>

    <script>
        function DoctorClicked() {
            window.location.href = "Home/DoctorList";
        }
        function ImgClicked1() {
            window.location.href = "https://www.worldometers.info/coronavirus/";
        }

    </script>
